
/* nav bar responsive designs */
/* nav bar icons */
@media only screen and (max-width: 800px){
	/*Big smartphones [426px -> 600px]*/
    .main_icon{
        visibility: hidden;
    }
    .navbar{
        height: 60px;
    }
    .collapse{
        background-color: white;
        padding: 5px;
        border-radius: 3px;
    }
    .app_inte_card{
        padding-left: 28vw;
    }
}



@media only screen and (min-width: 800px){
	/*Big smartphones [426px -> 600px]*/
    .navbar-brand{
        align-content: right;
        margin-left:200px;
    }
}


/*navbar sticky styling  */
  .navbar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    z-index: 1000; /* Makes sure navbar stays on top of other content */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }


/* section one positing */
.sec_01{
    margin-top: 100px;
}
.sec_01_cont{
    padding-left: 50px;
}

/* section two styling-positioning */
.sec_02{
    background-image: url(../images/pic03.jpg);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}


/* carousel styling */
.carousel-item {
    height: 400px; /* Set a height for the carousel */
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the area */
}
.carousel-caption {
    padding: 20px;
}

/* form */
.sec2_form{
    background-image: url(../images/header2.jpg);
     height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  .form-control, .form-select, button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
  }
  .form-control::placeholder, .form-select, label {
    color: #fff;
  }
  .form-control:focus, .form-select:focus, button:focus {
    border-color: #f8b500;
    box-shadow: none;
  }
  .btn-outline-light {
    border-color: #fff;
    color: #fff;
  }
  .btn-outline-light:hover {
    background-color: #fff;
    color: #7b4397;
  }

  /* a tags */
  a{
    color: rgb(59, 58, 58); /* Change this to any color you prefer */
    text-decoration: none; /* Removes the underline if you don't want it */
  }
  a:hover {
    color: black; /* Change this to control the hover color */
  }

  /* paragraphs */
  .pra_01{
    margin-bottom: -0.8vw;
  }
  .pra_02{
    margin-top: -1.1vw;
  }